@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Homemade+Apple&display=swap');

/* Homepage */
/* body declaration  */

body {
    font-family: "Montserrat,sans-serif";
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: normal;
    color: #413839;
    line-height: 1.6;
    letter-spacing: normal;
}

* {
    outline: none;
}

*:not(.slick-track):not(.slick-list) {
    transition: 0.4s;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/* heading tags */
h1 {
    margin: 0;
    padding: 0;
    font-family:"Montserrat,sans-serif";
    font-weight: 850;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

/* paragraph tag */
p {
    margin: 0 0 1rem;
    font-family:"Montserrat,sans-serif";
}
.button{
    border: none;
    background-color: #F0A400;
    color: white;
    padding: 13px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Montserrat,sans-serif";
    cursor: pointer;
    border-radius: 10px;
}

.button1{
    border: none;
    background-color: #38C179;
    color: white;
    padding: 13px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Montserrat,sans-serif";
    cursor: pointer;
    border-radius: 10px;
    margin-right: 20px;

}

/* hero section */

#header-hero-container {
    min-height: 600px;
    height: calc(100vh);
    position: relative;
}

#header-hero-container header {
    background: transparent;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(60, 60, 60, 0.3);
    position: fixed;
    width: 100%;
    z-index: 3;
}

#logo {
    font-family: 'Great Vibes', cursive;
    font-size: 1.7rem;
    font-weight: 800;
    color: yellow;
    text-decoration: none;
    position: relative;
    top: 4px;
}
#nav-toggle{
    color: #000000;
}
 /* menu section */
.hamburger-menu {
    background-color: transparent;
    border: 1px solid rgb(14, 3, 3);
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: white;
    margin: 4px 0;
}
 /* header section */
header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 15px;
}

#close-flyout {
    display: none;
}

#header-hero-container header ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

#header-hero-container header ul.is-sticky li a {
    color: white;
}

header ul li a:hover,
header ul li a.active {
    color: yellow;
}

header ul.is-sticky li a:hover,

header ul.is-sticky li a.active {
    color: orange;
}

 /* hero section */
#hero {
    background: url('../images/businessman-pointing-graphs-symbols.jpg') center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

#hero .fade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: rgba(6, 68, 68, 0.6); */
    z-index: 1;
    background-color: black;
    opacity: 0.4;
}

 .hero-text {
    position: absolute;
    top: 50%;
    margin: -75px auto 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: white;
    width: 500px;
    text-align: center;
}

#hero .hero-text p {
    line-height: 1.5em;
    font-weight: 400;
    font-size: 18px;
}

/* staff sections */
#staff {
    margin: 4rem 0 0rem;
    height: 500px;
    padding: 0 0 4rem;
    border-bottom: 1px solid white;
}

#staff .flex {
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    height: 100%;
}

#staff .card {
    position: center;
    width: 49%;
    background: white;
    margin-bottom: 2rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
    height: 230px;
}

#staff .card img {
    width: 20%;
    align-items: left;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#staff .card h3 {
    font-family: "Montserrat",sans-serif;
    color: black;
}

#staff .card h3,
#staff .card p {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

/* about company section */
#about-company {
    margin: 4rem 0 0rem;
    padding: 0 0 4rem;
    border-bottom: 1px solid white;
}
#about-company img{
    opacity: 70%;
}

#about-company .flex > img {
    width: 47%;
}

#about-company .flex > div {
    width: 40%;
}
#about-company .flex h2{
    margin-top: -10px;
}

#about-company ul {
    padding-left: 20px;
    margin-bottom: 4rem;
}

#about-company ul li {
    margin: 10px 0;
}

/* working-steps section */

#working-steps {
    border-bottom: 1px solid white;
    background-color: #0072b2;
    background: url(../images/business-people-casual-meeting1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

    height: 310px;
}
#working-steps .material-icons{
    font-size: 120px;
    color: #007bff;
}
#working-steps .flex-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
#working-steps .flex-container .container1{
    flex: 25%;
}
#working-steps .flex-container .container2{
    flex: 25%;
}
#working-steps .flex-container .container3{
    flex: 25%;
}
#working-steps .flex-container .container4{
    flex: 25%;
}

#working-steps .flex-container .container1 .icon-button{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;

}
#working-steps .flex-container .container2 .icon-button1{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;

}
#working-steps .flex-container .container3 .icon-button2{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
}

#working-steps .flex-container .container4 .icon-button3{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
}

.icon-button:hover{
    cursor: pointer;
}
.icon-button1:hover{
    cursor: pointer;
}
.icon-button2:hover{
    cursor: pointer;
}
.icon-button3:hover{
    cursor: pointer;
}

#working-steps .flex-container .container1 .icon-button:active{
    background: black;
}
#working-steps .flex-container .container2 .icon-button1:active{
    background: #260202;
}
#working-steps .flex-container .container3 .icon-button2:active{
    background: #260202;
}
#working-steps .flex-container .container4 .icon-button3:active{
    background: #260202;
}


.icon-button__badge{
    position:absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
#working-steps h3{
    text-align: center;
    color: white;
    padding-bottom: 20px;
    padding-top: 2em;
    font-size: 25px;
}

/*Skills Sections*/

#skills {
    background-color: white;
    border-bottom: 1px solid white;
    padding-top: 3%;
}
#skills .flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}
#skills .flex-container .image{
    flex: 33.33%;
    flex-basis: 33.33%;
}
#skills .flex-container img{
    max-width: 100%;
    height: 330px;
}
#skills .flex-container .startup{
    flex: 33.33%;
}
/* #skills .flex-container .startup p{
    text-align: justify;
} */
#skills .flex-container .skills_we_count{
    flex: 33.33%;
}

.skills{
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
}
 .skill-name{
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    margin: 10px 0;
}
 .skill-name{
    margin-left: -190px;
}

 .skill-bar{
    height: 14px;
    background: white;
    border-radius: 3px;

}
 .skill-per{
    height: 14px;
    background: #d13639;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}
.skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

 #skills .startup{
    padding-bottom: 20px;
}

/*Start Business Section*/

.start-business{
    margin: 4rem 0 6rem;
    padding: 0 0 2rem;
    background-color:  #007BFF;
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.start-business .start_business_h1 h1{
    color: white;
    margin-left: 10%;
}

.start-business .business_button .start_button{
    background-color: #f47d34;
    height: 52px;
    font-size: 19px;
    width: 138px;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: "Montserrat,sans-serif";
}

.start-business .start_business_h1{
    flex: 50%;
}

.start-business .business_button{
    flex: 50%;
}

/*Footer Section*/
footer{
    background: #1b1813;
    padding: 2rem 0;
}
footer .flex{
    padding-bottom: 2rem;
    border-bottom: 1px solid #777;
}

footer h5{
    color: white;
    margin-bottom: 1rem;
    /* font-size: medium; */
}
footer .footer-about {
    width: 25%;
  }
  footer .footer-about p{
    width: 65%;
    color: white;
  }

  footer.footer-useful-links{
    width: 10%;
  }
  footer .footer-useful-links ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  footer .footer-useful-links ul li {
    margin: 10px 0;
  }

  footer .footer-useful-links ul li a {
    color: rgb(235, 223, 223);
    text-decoration: none;
  }

  footer .footer-useful-links ul li a:hover{
    color: yellow;
  }

  footer .footer-what-we-do{
    width: 10%;
  }
  footer .footer-what-we-do ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  footer .footer-what-we-do ul li{
    margin: 10px 0;
    color: rgb(235, 223, 223);
  }

  footer .footer-what-we-do ul li:hover{
    cursor: pointer;
    color: yellow;
  }

footer .footer-newsletter{
    width: 20%;
    right: 200px;
}
footer .footer-newsletter h5{
    position: relative;
    left: 20px;

}

#newsletter.container{
    position: relative;
}
footer .footer-newsletter input{
    border-radius: 30px;
    height: 43px;
    margin: 10px;
    font-family: "Montserrat",sans-serif;
    border: 1px solid #6c757d;
    background-color: transparent;
    font-size: 1rem;
    padding: 10px;
    color: #fff;
    box-sizing: border-box;
    width: 80%;

}
footer small{
    margin-top: 1rem;
    font-size: 1rem;
    display: block;
    text-align: center;
}
footer small:hover{
    color:#fff;
}

/* Login and Signup Page */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat,sans-serif";
}

.container.forms{
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    column-gap: 30px;
}

.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: white;
    bottom: 1%;
    border: 2px solid black;
}
.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
#header-hero-container #hero header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
    position: inherit;
    border-bottom: none;
}
#header-hero-container #login-page ul li a {
    color: black;
    font-size: 16px;
    text-decoration: none;
}
#header-hero-container #login-page #logo{
    color: black;
}
#header-hero-container header{
    background-color: #007bff;
}
#hero header{
    background-color: white;
}

#header-hero-container #hero .container.forms{
    background: white;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #f0a400;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #38c179;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.facebook{
    color: #fff;
    background-color: #4267b2;
}
a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.facebook-icon,
img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google{
    border: 1px solid #b00ee1;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

/* Services Page */

#services #hero {
    background: url('../images/people-business-meeting-high-angle.jpg') center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 55%;
    width: 100%;
    min-height: 500px;
}
#services #header-hero-container{
    min-height: 500px;
    height: 100%;
}

#services #hero .fade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: rgba(11, 88, 88, 0.6); */
    z-index: 1;
    background-color: black;
    opacity: 0.7;
}

#services .hero-text {
    position: absolute;
    top: 50%;
    margin: -75px auto 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: white;
    width: 500px;
    text-align: center;
}

/* what we offer sections */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#services{
    margin-bottom: 40px;
}

#services .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
#services .tab{
    color: white;
}

