@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Homemade+Apple&display=swap');

/* Homepage */
/* body declaration  */

body {
    font-family: "Montserrat,sans-serif";
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: normal;
    color: #413839;
    line-height: 1.6;
    letter-spacing: normal;
}

* {
    outline: none;
}

*:not(.slick-track):not(.slick-list) {
    transition: 0.4s;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/* heading tags */
h1 {
    margin: 0;
    padding: 0;
    font-family:"Montserrat,sans-serif";
    font-weight: 850;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

/* paragraph tag */
p {
    margin: 0 0 1rem;
    font-family:"Montserrat,sans-serif";
}
.button{
    border: none;
    background-color: #F0A400;
    color: white;
    padding: 13px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Montserrat,sans-serif";
    cursor: pointer;
    border-radius: 10px;
}

.button1{
    border: none;
    background-color: #38C179;
    color: white;
    padding: 13px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Montserrat,sans-serif";
    cursor: pointer;
    border-radius: 10px;
    margin-right: 20px;

}

/* hero section */

#header-hero-container {
    min-height: 600px;
    height: calc(100vh);
    position: relative;
}

#header-hero-container header {
    background: transparent;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(60, 60, 60, 0.3);
    position: fixed;
    width: 100%;
    z-index: 3;
}

#logo {
    font-family: 'Great Vibes', cursive;
    font-size: 1.7rem;
    font-weight: 800;
    color: yellow;
    text-decoration: none;
    position: relative;
    top: 4px;
}
#nav-toggle{
    color: #000000;
}
 /* menu section */
.hamburger-menu {
    background-color: transparent;
    border: 1px solid rgb(14, 3, 3);
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: white;
    margin: 4px 0;
}
 /* header section */
header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 15px;
}

#close-flyout {
    display: none;
}

#header-hero-container header ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

#header-hero-container header ul.is-sticky li a {
    color: white;
}

header ul li a:hover,
header ul li a.active {
    color: yellow;
}

header ul.is-sticky li a:hover,

header ul.is-sticky li a.active {
    color: orange;
}

 /* hero section */
#hero {
    background: url('../images/businessman-pointing-graphs-symbols.jpg') center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

#hero .fade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: rgba(6, 68, 68, 0.6); */
    z-index: 1;
    background-color: black;
    opacity: 0.4;
}

 .hero-text {
    position: absolute;
    top: 50%;
    margin: -75px auto 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: white;
    width: 500px;
    text-align: center;
}

#hero .hero-text p {
    line-height: 1.5em;
    font-weight: 400;
    font-size: 18px;
}

